.main-box{
    overflow-y: auto;
}

.container-caixa-main{
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    padding: 24px 10px;
    width: 100%;
}

.container-caixa-main .caixa-header{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: auto;
}

.caixa-header h2{
    margin: 0;
}

.caixa-header p{
    border: none;
}

.caixa-header p .expenses{
    color: #DC2626;
}

.caixa-header p .incomes{
    color: #16A34A;
}

.container-caixa-main .cards-box{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.container-caixa-main .group-buttons-box{
    align-items: center;
    display: flex;
}

.group-buttons-box button.Rendimento-Total:first-child{
    background-color: #F6F8FA;
}

.group-buttons-box button.Despesa-Total:nth-child(2){
    background-color: #F6F8FA;
}

.group-buttons-box button.Rendimento-Mensal:nth-child(3){
    background-color: #F6F8FA;
}

.group-buttons-box button.Despesa-Mensal:last-child{
    background-color: #F6F8FA;
}

.group-buttons-box button{
    border: 1px solid #D8DEE4;
    padding: 8px 16px;
}

.group-buttons-box button:first-child{
    border-radius: 8px 0 0 8px;
}

.group-buttons-box button:last-child{
    border-radius: 0 8px 8px 0;
}

.container-caixa-main table{
    margin-top: 0;
}

.container-caixa-main table thead tr th{
    color: #fff;
}

.container-caixa-main table thead tr th svg{
    margin-right: 6px;
}

.container-caixa-main table tbody tr td{
    border: 1px solid #cacaca;
}