.page_container_adocao {
  margin: 0;
  padding: 0;
  padding-right: 100px;
  height: auto;
  width: 100%;
}
.page_container_autorizar_adocao {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  /* padding-bottom: 50px; */
}
.impressao_termo {
  display: none;
}
th{
  text-align: center;
}
td{
  text-align: center;
}

.searchInput_adocao{
  width: 100%;
  /* position: relative; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  /* border-width: 1px; */
  border-radius: 8px;
  border-style: solid;
  border-color: #3ab1b9;
  box-sizing: border-box;
  color: rgba(13, 13, 13, 0.3);
  font-size: 16px;
  font-family:var(--font-family-montserrat);
  line-height: 24px;
  white-space: nowrap;
  margin-top: 20px;
} 

@media print {
  .tabela_autorizar,
  .titulo_adocao,
  .busca_adocao,
  .aside-menu-main,
  .dashboard-adm-header,
  .container-menu,
  .faca_denuncia,
  .sobre-nos,
  .adote-um-pet,
  .svg-menu-adm,
  .footer.footer-aside-menu-main{
    display: none;
  }
  .impressao_termo {
    display: block !important;
  } 
}



.alinhando_imagem_adocao{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  position: absolute;
  top: 0;
  margin-top: 85px;
}
.img_adocao{
  width: 30%; 
}

.page_container:last-child{
  background-color: #f2f2f2;
}

.montserrat-bold-pelorous-16px {
  color: var(--pelorous);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-12px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-concrete-12px {
  color: var(-concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-g);
  font-weight: 500;
  font-style: normal;
}

.montserrat-normal-cod-gray-12px {
  color: var(--cod-gray-2);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: italic;
}

.montserrat-medium-cod-gray-12px {
  color: var(--cod-greay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold-cod-gray-38-8px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-m);
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold-pelorous-32Px {
  color: var(--pelorous);
  font-family: var(-font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-pelorous-38-8px {
  color: var(-pelorous);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-conc rete-12px {
  color: var(--concrete);
  font-family: var(-font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}

.montserreat-bold-white-38-8px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-medium-concrete-16px {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold-concrete-16px {
  color: var(--concrete);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-32px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-48px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-normal-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(-font-size-m);
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold-white-48px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-cod-gray-12px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.botao_solicitar_adocao {
  align-items: center;
  background-color: var(--pelorous);
  border-style: solid;
  border-radius: 8px;
  border-color: var(--pelorous);
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 18px;
  position: relative;
  width: fit-content;
  margin-right: 3px;
}

.botao_solicitar_adocao:hover {
  color: var(--pelorous);
  background-color: var(--concrete);
}

.botao_table_negar{
  background-color:rgb(235, 75, 75);
  border-color: var(--concrete);
  border: 2px solid;
  height: auto;
  width: auto;
  
}
.botao_table_negar:hover{
  background-color: var(--concrete);
  border-color: rgb(235, 75, 75);
  color: rgb(235, 75, 75);
}
.botao_table_negar:active{
  background-color: var(--concrete);
  border-color: rgb(235, 75, 75);
  color: rgb(235, 75, 75);
}
.botao_table_autorizar{
  background-color:rgb(49, 179, 49);
  border-color: var(--concrete);
  border: 2px solid;
  height: auto;
  width: auto;
  
}
.botao_table_autorizar:hover{
  background-color: var(--concrete);
  border-color: rgb(49, 179, 49);
  color:rgb(49, 179, 49);
}
.botao_table_autorizar:active{
  background-color: var(--concrete);
  border-color: rgb(49, 179, 49);;
  color: rgb(49, 179, 49);
}

.botao_table_imprimir{
  background-color:var(--pelorous);
  border-color: var(--concrete);
  border: 2px solid;
  height: auto;
  width: auto;
  margin-top: 5px;

}

.botao_table_imprimir:hover{
  background-color: var(--concrete);
  border-color:var(--pelorous);
  color:var(--pelorous);
}
.botao_table_imprimir:active{
  background-color: var(--concrete);
  border-color: var(--pelorous);;
  color: var(--pelorous);
}
.alinhando_botao_adocao{
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
}

.flex-row-item_adocao {
  border: 2px solid;
  border-color: var(--pelorous);
  background-color: var(--concrete);
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 10px;
  /* width: 400px; */
  font-family: var(--font-family-montserrat);
}
.imagem-animal{
  width: 100px;
  border: 2px solid;
  border-color: var(--pelorous);
  border-radius: 8px;
}
.alinhando_dados_animal{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px;
  
}
.container-table-adocao{
  margin:0 auto;
  width: 100%;
  
}


.flex-row-item_adocao::placeholder {
  font-family: var(--font-family-montserrat);
}

.form-adocao {
  /* align-items: flex-start; */
  display: flex; 
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;

  
}

.form_adocao label{
width: 200px;
text-align: right;
}

.titulo_adocao {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  padding-right: 30px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;

}


.termos-modal-body {
  font-family: var(--font-family-montserrat);
  font-size: 12px;
  text-align: justify;
}


.alinha_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
