@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nerko+One&family=Roboto&family=Roboto+Slab:wght@500;600&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */

.denuncia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  
}

.cat_denuncia {
  position: absolute;
  display: flex;
  justify-content: center;

  scale: 0.7;
  width: 100%;
  margin-top: 15rem;
  margin-right: 280px;
}

.triangle {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 54.8em;
  margin-top: -550px;  
}

.paw {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 75rem;
  margin-top: -484px;
}

.triangle2 {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: -20px;
}

.paw2 {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 130px;
}

.container_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 670px;
  margin-bottom: 15rem;
}

.title_denuncia {
  display: flex;
  text-align: center;
  align-items: center;

  font-family: "Nerko One";
  font-weight: 400;
  font-size: 83px;
  line-height: 40px;

  color: #3ab1b9;
}

.subtitle {
  display: flex;
  text-align: center;
  align-items: center;

  font-family: "Nerko One";
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.01em;

  color: #e32121;
}

.text {
  display: flex;
  text-align: center;
  align-items: center;

  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;

  color: #3ab1b9;
}

.disk_number {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.disk {
  color: #3ab1b9;

  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 800;
}

.n1 {
  color: #e32121;
}

.n2 {
  color: #e32121;
}

.link_denuncia {
  font-family: "Montserrat";
  font-weight: 600;

  cursor: pointer;

  color: #e32121;
  transition: 0.5s;
}

.link_denuncia:hover {
  color: #3ab1b9;
}

.link {
  text-decoration: none;

  font-family: "Montserrat";
  font-weight: 600;
}

/* Estilos para tela 1980x1080 */
@media screen and (min-width: 1980px) and (min-height: 1080px) {
  .denuncia {
    height: 120vh;
  }

  .container_text {
    margin-left: 50rem;
    margin-bottom: 23%;
  }

  .cat_denuncia {
    width: 90%;
    margin-top: 280px;
    margin-right: 35rem;
  }

  .title_denuncia {
    font-size: 140px;
    line-height: 0.5;
  }

  .subtitle {
    font-size: 100px;
  }

  .text {
    font-size: 42px;
    line-height: 50px;
  }

  .triangle {
    left: 40em;
  }

  .paw {
    left: 40rem;
  }
}

