.container-main-adm{
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    margin-left: auto;
    width: calc(100vw - 3%);
}

.container-main-adm svg{
    color: #000;
}

.container-dashboard-adm{
    height: 100%;
    padding: 14px 24px;
    width: 100%;
}

.container-dashboard-adm .dashboard-adm-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.dashboard-adm-header .h1{
    color: #458ACE;
    font-size: 26px;
}

.dashboard-adm-header.menu{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
}

.dashboard-adm-header.menu-themes{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: auto;
}

.dashboard-adm-header.menu-themes svg{
    cursor: pointer;
}

.dashboard-adm-header.profile{
    background: url("/src/imagens/Rectangle1.png");
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.container-dashboard-adm-main{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 40px);
    gap: 24px;
    padding: 24px;
    width: 100%;
}

.container-dashboard-adm-main h2{
    font-size: 1.7rem;
}

.dashboard-adm-main-analytics, .analytics-cards, .dashboard-adm-main-new-users, .new-user-card, .dashboard-adm-main-registers-recents{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.dashboard-adm-main-analytics, .dashboard-adm-main-new-users, .dashboard-adm-main-registers-recents{
    align-items: flex-start;
}

.analytics-cards{
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}

.dashboard-adm-main-new-users .container-new-users{
    align-items: center;
    background-color: #202528;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 18px 0;
    width: 100%;
}

.dashboard-adm-main-registers-recents table{
    margin: 0;
}

.dashboard-adm-main-registers-recents table thead th{
    color: white;
}

@media (prefers-color-scheme: dark){
    .container-main-adm{
        background-color: #191A1E;
    }

    .container-main-adm svg{
        color: #fff;
    }

    .dashboard-adm-header .h1{
        color: #fff;
    }

    .dashboard-adm-header.menu-themes svg:last-child{
        color: #f00;
    }
}

@media (prefers-color-scheme: light){
    .dashboard-adm-header.menu-themes svg:first-child{
        color: #f00;
    }
}

@media (min-width: 768px) {
    .container-dashboard-adm{
        height: 100%;
        width: 100%;
    }
}
