.container-aside-adm{
    height: 2rem;
    left: 0;
    position: absolute;
    top: 5px;
    width: 2rem;
    z-index: 101;
}

.container-aside-adm .svg-menu-adm{
    cursor: pointer;
}

.container-aside-adm.true{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.aside-adm-main{
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
}

.aside-adm-main .aside-menu-header{
    height: 100%;
    width: 100%;
}

.aside-menu-header svg{
    height: 2.3rem;
    width: 2.3rem;
}

.container-aside-adm.true .aside-adm-main{
    width: 40%;
}

@media (min-width: 768px) {
    .container-aside-adm{
        height: 100%;
        inset: 0;
        position: fixed;
        width: 4%;
    }

    .container-aside-adm .aside-menu-header{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
    }

    .container-aside-adm .aside-adm-main{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .aside-adm-main .aside-menu-main{
        height: 80%;
        margin-top: auto;
        width: 100%;
    }

    .aside-menu-main .container-list-menu{
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: auto;
        padding: 0;
        width: 100%;
    }
    
    
    .container-list-menu .list-menu{
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 4px 0;
        width: 100%;
    }

    .container-list-menu .list-menu:hover{
        background-color: #458ACE;
    }

    .container-list-menu-ul{
        align-items: center;
        background-color: #FAFAFA;
        border: 1px solid #00000025;
        border-radius: 8px;
        box-shadow: 4px 4px 4px #00000025;
        display: none;
        flex-direction: column;
        gap: 1px;
        height: auto;
        left: 100%;
        padding: 4px 0;
        position: absolute;
        list-style-type: none;
        width: max-content;
    }

    .container-list-menu-ul.registers{
        top: 26%;
    }

    .container-list-menu-ul.bulletins{
        top: 32%;
    }

    .container-list-menu-ul a span, .container-list-menu-ul a svg, .container-list-menu-ul .list-menu:hover svg{
        color: #000;
    }

    .container-list-menu-ul-registers a svg, .container-list-menu-ul-bulletins a svg{
        height: 1.2rem;
        width: 1.2rem;
    }

    .container-list-menu-ul a{
        align-items: center;
        border-radius: 8px;
        color: #fff;
        display: flex;
        flex-direction: row;
        gap: 6px;
        padding: 5px 14px;
        width: 100%;
    }

    .container-list-menu-ul a:hover{
        background-color: #3b6ea1;
    }
    
    .container-list-menu-ul a:hover span, .container-list-menu-ul a:hover svg {
        color: #fff;
    }

    .list-menu.menu-registers:hover .container-list-menu-ul.registers, .list-menu.menu-bulletin:hover .container-list-menu-ul.bulletins{
        display: flex;
    }

    .list-menu svg{
        cursor: pointer;
    }
    
    .container-aside-adm .aside-menu-header{
        height: min-content;
        position: relative;
    }

    .container-aside-adm .aside-menu-header::after{
        border-bottom: 1px solid #fff;
        bottom: -6px;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        width: 100%;
    }

    .container-aside-adm .svg-menu-adm{
       position: relative;
       top: 0;
    }
}
