.container-aside-adm{
    height: 2rem;
    left: 0;
    position: absolute;
    top: 5px;
    width: 2rem;
}

.container-aside-adm .svg-menu-adm{
    cursor: pointer;
}

.container-aside-adm.true{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.aside-adm-main{
    height: 100%;
    width: 100%;
}

.aside-adm-main .aside-menu-header{
    height: 100%;
    width: 100%;
}

.container-aside-adm.true .aside-adm-main{
    width: 40%;
}

@media (prefers-color-scheme: dark){
    .aside-adm-main{
        background-color: #202528;
    }

    .container-aside-adm .aside-menu-header::after{
        background-color: #fff!important;
    }
}

@media (min-width: 768px) {
    .container-aside-adm{
        height: 100%;
        inset: 0;
        position: relative;
        width: min-content;
    }

    .container-aside-adm .aside-adm-main{
        padding: 10px 5px;
    }

    .container-aside-adm .aside-menu-header{
        background-color: #FAFAFA;
        height: min-content;
        position: relative;
    }

    .container-aside-adm .aside-menu-header::after{
        border-bottom: 2px solid #fff;
        bottom: -8px;
        content: "";
        display: block;
        height: 1px;
        letter-spacing: 1rem;
        position: absolute;
        width: 100%;
    }

    .container-aside-adm .svg-menu-adm{
       position: relative;
       top: 0;
    }
}
