.aside-accepttodo-header,
.title-accepttodo-header {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.aside-accepttodo-header {
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    width: 100%;
}

.title-accepttodo-header {
    gap: 0.5;
    padding: 20px 0;
}

.title-accepttodo-header h2, .table-acceptodo thead tr th, .table-acceptodo tbody tr td{
    color: #fff;
}

.aside-accepttodo-header .search {
    align-items: center;
    background-color: white;
    border: 1px solid #3ab1b9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 8px;
    padding: 8px 4px;
    width: 40%;
}

.aside-accepttodo-header .search input {
    border: none;
    color: #000;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.table-acceptodo{
    margin-top: 0;
}