.card{
    align-items: center;
    background-color: #F2F2F2;
    border: none;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 4px 4px #00000025;
    flex-direction: row;
    justify-content: space-between;
    height: 132px;
    padding: 14px 22px;
    width: 100%;
}

.card .card-title{
    align-items: center;
    color: #3AB1B9;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
}

.card-grapich{
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    text-align: center;
    position: relative;
    width: 100px;
}

.card-grapich h3{
    color: #3AB1B9;
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
}

.card-grapich .card-ball{
    background-color: #F2F2F2;
    border-radius: 50%;
    bottom: 10%;
    height: 30px;
    position: absolute;
    right: -15px;
    width: 30px;
}

@media (prefers-color-scheme: dark){
    .card, .card-grapich .card-ball{
        background-color: #202528;
    }

    .card .card-title{
        color: #fff;
    }

    .card-grapich h3{
        color: #fff;
    }
}