.dashboard-adm-header{
    align-items: center;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    height: 8%;
    padding: 4px 4px 4px 24px;
    width: 100%;
}

.dashboard-adm-header.true{
    padding: 4px 4px 4px 4.5%;
}

.dashboard-adm-header .h1{
    color: #3AB1B9;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}