.form-cadastro-voluntario {
  display: flex !important;
  flex-direction: column;
}

.form-cadastro-voluntario .form-cadastro-header {
  justify-content: flex-end;
}

form.form-input {
  gap: 8px;
}

.form-input .input-container {
  border: 2px solid #3ab1b9;
  border-radius: 8px;
  flex-direction: row;
  gap: 1rem;
  height: 2.5rem;
  padding: 8px;
  width: 100%;
}

.input-container input {
  border: none;
  height: 100%;
  outline: none;
  width: 100%;
}

form .container-checkboxs {
  height: auto;
  gap: 18px;
  max-width: 100%;
  width: 100%;
}

.container-checkboxs h3 {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.checkboxs {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 15px;
  padding-left: 2rem;
}

.aceitar-fazer-inputs {
  grid-template-columns: repeat(1, minmax(0, 1fr))!important;
}

.checkbox {
  align-items: center;
  display: inline-flex;
  padding-bottom: 0.7rem;
}

.checkboxs-oque-fazer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding-left: 1rem;
}

.modalVoluntario{
  cursor: pointer;
  transition: .5s;
}

.modalVoluntario:hover{
  color:#3ab1b9;
}

@media screen and (min-width: 768px) {
  .checkboxs-oque-fazer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
