.form-entradas-titulo .svg-modal{
  height: 32px;
  width: 32px;
  transition: .5s;
  cursor: pointer;
}

.vectorEntrada {
  margin: 5px;
}

.form-entradas-titulo .svg-modal:hover{
  color: #3AB1B9;
}

.FormEntrada_container {
  display: flex;
  flex-direction: column;
  margin:0 auto;
  padding-left: 60px;
  padding-top: 50px;
  height: auto;
}

.tituloEntrada{
  align-items: center;
  display: flex;
  flex-direction: row;
  width: auto;
}

.form-entradas-titulo .tituloEntrada h1 {
  font-weight: bold;
  margin: 0;
}

.FormEntrada_container p {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.FormEntrada_container form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.mainSectionEntrada {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.form_control {
  display: flex;
  flex-direction: column;
}

.form_control label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.form_control input,.form_control select{
  width: 100%;
  padding: 0.7em;
  outline: none;
  border: none;
  border: 2px solid #3AB1B9;
  border-radius: 8px;
  font-family: "Montserrat";
}

.form_control input::placeholder {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(13, 13, 13, 0.3);
}

.btnEntrada {
  display: flex;
  gap: 8px;
  height: auto;
  width: 100%;
}

.btnEntrada button {
  font-weight: 700;
  background-color: rgba(242, 242, 242, 1);
  border: 2px solid #3ab1b9;
  color: #3ab1b9;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
  height: 42px;
  transition: all 1s;
}

.btnEntrada button:hover {
  background-color: #3ab1b9;
  color: rgba(242, 242, 242, 1);
}

.centro_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.alert {
  color: red;
  margin-top: 10px;
}

.alinha {
  height: 100%;
  width: 100%;
}

.img_entrada{
  width: 100%;
  height: 100%;
}

.form-entradas-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  width: auto;
}

.form-entradas-container .form-entradas-header {
  flex-direction: column;
  gap: 33px;
  margin: 0 auto;
  max-width: 557px;
  text-align: center;
}

.form-entradas-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  width: 90%;
  margin-bottom: 20px;
}

.form-entradas-titulo .logo {
  color: #3ab1b9;
  height: 72px;
  width: 80px;
  margin-bottom: 20px;
}


.form-entradas-titulo h1 {
  font-size: 48px;
  font-weight: bold;
}

.form-entradas-titulo h1 span {
  color: #3ab1b9;
}

.form-entradas-header .form-entradas-header-subtitulo {
  font-size: 16px;
  font-weight: 500;
}

.form-entradas-header h2 {
  color: #3ab1b9;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.form-entradas-container .section {
  height: auto;
  width: 100%;
}

.container-button {
  align-items: flex-end;
  width: 100%;
}

.container-button .btn {
  border-radius: 8px;
  cursor: pointer;
  height: 42px;
  transition: all 1s;
}

.container-button .register {
  background-color: white;
  border: 2px solid #3ab1b9;
  color: #3ab1b9;
  width: 160px;
}

.register:hover {
  background-color: #3ab1b9;
  color: white;
}

/* Responsividade - Form entradas*/
@media screen and (max-width: 768px) {
  .mainSectionEntrada {
      flex-direction: column;
      align-items: center;
  }

  .form_control input,
  .form_control select,
  .form_control textarea {
      width: 100%;
      
  }

  .alinha {
      width: auto;
      height: auto;
  }
}

@media screen and (min-width: 1880px) {
  .FormEntrada_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 70px 70px 0 70px;
  }

  .form_control input,
  .form_control select,
  .form_control textarea {
      width: 100%;
  }
}

@media screen and (min-width: 2516px) {
  .FormEntrada_container {
      max-width: 1800px;
      padding: 100px;
  }

  .form_control input,
  .form_control select,
  .form_control textarea {
      width: 1000px;
  }
}