.container-form-donation{
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: auto;
    padding: 15px 20px;
    width: 350px;
}

.container-form-donation form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

form .container-inputs-type{
    align-items: center;
    border: 1px solid var(--pelorous);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

form .container-qrcode{
    margin: 0 auto;
}